:root {
  --body-bg: #fddcd2;

  --header-bg: hsl(0, 0%, 11%);
  --header-text: hsl(323, 100%, 80%);

  --main-bg: ##fddcd2;
  --main-text: #000000;
  --main-title-bg: hsl(323, 100%, 80%);

  --card-bg: #76ff367b;
  --card-text: #201e1d;
}
